<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="engine" class="in.kunal.beans.PetrolEng"
		autowire-candidate="false" />    <!--manual wiring-->   <!--Dependent Class-->

	    <bean id="diesel" class="in.kunal.beans.DieselEng" scope="prototype" />                   <!--Dependent Class-->

	    <bean id="car" class="in.kunal.beans.Car" autowire="byType" >      <!--Target Class-->

		<!--<bean id="car" class="in.kunal.beans.Car" autowire="byName"> -->

		<!--	<bean id="car" class="in.kunal.beans.Car" autowire="constructor"> 
-->
		<!--Constructor injection -->
		<!----> <!--<constructor-arg name="engine"  ref="engine"></constructor-arg>

		setter injection
		<property name="engine" ref="diesel"></property>  
-->

	</bean>


</beans>
